.valor{
  padding: 20px;
  border-radius: 15px;
  color: #000;
  display: flex;
  justify-content: flex-end;

}

div.btn .button{
  margin: 0;
}

.page_pedido_desc .refazer-pedido{
  justify-content: flex-end;
  padding: 0;
}




.refazer-pedido a{
  text-decoration: none;
  font-weight: bold;
  color: #e02041;
  background: #ddd;
  padding: 3px;
  border-radius: 5px;
}
.page_pedido_desc form .card .card-top{
  margin: 0;
}
.page_pedido_desc form .card .card-group.products{
  margin-top: 20px;
  -moz-box-shadow:   1px 1px 6px 0px #ccc;
  -webkit-box-shadow: 1px 1px 6px 0px #ccc;;
  box-shadow:         1px 1px 6px 0px #ccc;
}

.page_pedido_desc form .card .header-products{
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  background: #e02041;
  border-radius: 4px 4px 0 0;
  color: #fff;
  font-weight: bold;
}
.space{
  justify-content: space-between;
}

.space p{
  width: 30%;
  text-align: center;
}
.page_pedido_desc form .card ul {
  margin-top: 20px;
}

.page_pedido_desc form .card h3 {
  color: #e02041;
}

.page_pedido_desc form .card ul li {
  padding: 5px;
}

.flex-b
{
  justify-content: space-between;
}

.page_pedido_desc .statusPedido{

  padding: 5px;
  background: rgb(51, 255, 0);

}

