.valor{
  padding: 20px;
  border-radius: 15px;
  color: #000;
  display: flex;
  justify-content: flex-end;

}

div.btn .button{
  margin: 0;
}

.refazer-pedido{
  justify-content: flex-end;
  padding: 20px;
}


.refazer-pedido a{
  text-decoration: none;
  font-weight: bold;
  color: #e02041;
  background: #ddd;
  padding: 3px;
  border-radius: 5px;
}
.space{
  justify-content: space-between;
}

.space p{
  width: 30%;
  text-align: center;
}