@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

#Main{
  background: #d3d3d8;
  margin-bottom: 100px;
}


body {
    font: 400 14px Roboto, sans-serif;
    background: #d3d3d8;
    -webkit-font-smoothing: antialiased; 
}

input, button, textarea {
    font: 400 18px Roboto, sans-serif;
}

button {
    cursor: pointer;
}

form input.input {
    width: 100%;
    height: 40px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 15px;
}
form input.input:focus {
  border: 1px solid #e02041;
}


form textarea {
    width: 100%;
    min-height: 140px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 16px 24px;
    line-height: 24px;
    resize: vertical;
}

.button {
    width: 100%;
    height: 60px;
    background: #e02041;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: 700;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
}

.button:hover {
  filter: brightness(90%);
}

.back-link {
  display: flex;
  align-items: center;
  margin-top: 40px;
  color: #41414d;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s;
}

.back-link svg {
    margin-right: 8px;
}

.back-link:hover {
    opacity: 0.8;
}




.error-form{
  margin-top: 5px;
  margin-left: 5px;
  color: #8d0a0a;
  font-weight: bold;
}
.error-form-correct{
  margin-top: 5px;
  margin-left: 5px;
  color: #0083fd;
  font-weight: bold;
}

.form{
  width: 350px;
  margin: auto;
  margin-top: 50px;
}
  
.card{
  box-shadow: 1px 1px 5p #ccc;
  background-color:white;
  padding: 30px 20px;
  border-radius: 5px;
}
  
.card-top{
  text-align: center;
  margin-top: 20px;
}
.card-top h1{
  font-family: 'Press Start 2P', cursive;
  margin: 30px 0;
}
  
.imglogin{
  border-radius: 10px;
}
  
label{
  font-size: 20px;
}
  
input.checkbox{
  width: 30px;
  height: 16px;
  color: #333;
  border-radius: 5px;
  padding: 0 10px;
  margin-top: 5px;
}
.card-group{
  margin-bottom: 0px;
  padding: 15px;
  border-radius: 10px;
}
  
.card-group > label{
  widows: 100%; 
  color:rgb(0, 0, 0);
  display: block;
}
  
  
.flex{
  display: flex;
}

.flew-between{
  justify-content: space-between;
}
  
.flextwo{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0px;
  border-radius: 10px;
}
  
.ajustar{
  margin-bottom: 0px;
  padding: 20px;
  border-radius: 10px;
}


.btn-logout-box{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.btn-logout-box div{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.btn-logout-box p{
  display: inline;
}
